body{
  background-color: #FAC6DB;
  color:  #434343;
}
button{
  background-color: #121212;
  color: #FDFCF9;
}

/* Asger */

header {
    display: flex;
    height: 113px;
}

.headerTop {
    height: 67px
}

/*Signe */

.titel {
    font-family: Coolvetica, sans-serif;
    font-size: 48px;
    line-height: 0px;
}

.knapbb, .knapta, .knapstor {
    height: 48px;
}

#knapperbox {
    display: flex;
    justify-content: space-around;
}

.knapbb, .knapta {
    display: flex;
    width: 47%;
    border-radius: 50px;
    align-items: center;
    justify-content: center;
}

.knapbb {
    color: #FAC6DB;
    background-color: #121212;
}

.knapta {
    border: solid;
    border-color: #121212;
    color: #121212;
}





/*Daniel*/



/*Febbe*/
