* {
    margin: 0;
}

body{
    display: flex;
    flex-direction: column;
  background-color: #FAC6DB;
  color:  #434343;
  font-family: Coolvetica, sans-serif;
  font-weight: 300;

}

h4 {
    font-size: 28px;
    padding: 20px 0px 0px;
}

button{
  background-color: #121212;
  color: #FDFCF9;
}

/* Asger */

header {
    display: flex;
    height: 113px;
    flex-direction: column;
    margin: 0px;
}

.headerTop {
    display: flex;
    height: 67px;
    width: 100%;
}

.headerBund {
    display: flex;
    justify-content: space-around;
    height: 46px;
    width: 100%;
}

.headerBund > div {
    display: flex;
width: 100%;
height: 100%;
    border-width: 0.2px;
    border-color: black;
    border-style: solid;
justify-content: center;
align-items: center;
}

/*Signe */

h1 {
    font-family: Coolvetica, sans-serif;
    font-size: 48px;
    line-height: 0px;
    font-weight: 500;
    margin-top: 30px;
    line-height: 45px;
    margin-left: 15px;
}

#knapperbox {
    display: flex;
    justify-content: space-around;
}

.knapbb, .knapta {
    display: flex;
    width: 47%;
    border-radius: 50px;
    align-items: center;
    justify-content: center;
    height: 48px;
    font-size: 12px;
    margin-top: 20px;
    font-weight: bold;
}

.knapbb {
    color: #FAC6DB;
    background-color: #121212;
}

.knapta {
    border: solid;
    border-width: thin;
    border-radius: 50px;
    border-color: #121212;
}

#crustbillede {
    display: flex;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    max-width: 95%;
    height: 361px;
    border-radius: 15px;
}

.knapstor {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    width: 90%;
    height: 48px;
    border: solid;
    border-width: thin;
    border-radius: 50px;
    border-color: #121212;
    margin-top: 30px;
    font-size: 12px;
    font-weight: bold;
}

#knapvisit {
    margin-top: 60px;
}






/*Daniel*/



/*Febbe*/
footer {
  background-color: #121212;
  color: #FDFCF9;
}
footer * p {
  font-size: 15px;
  line-height: 25px;
}
.sortbund {
  padding: 30px;
}
.graabund {
  background-color: #434343;
  padding: 30px;
}
.fodlink {
  color: #FDFCF9;
}
.fodlink:visited {
  color: #FDFCF9;
}
.fodlink:hover {
  opacity: 0.7;
}
.spørgsmål-fod {
  font-size: 12px;
}
hr { 
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  margin-left: auto;
  margin-right: auto;
  border-width: 0.1px;
} 