* {
    margin: 0;
}

body{
    display: flex;
    flex-direction: column;
  background-color: #FAC6DB;
  color:  #434343;
  font-family: Coolvetica, sans-serif;
  font-weight: 300;

}

h4 {
    font-size: 28px;
    padding: 20px 0px;
}

button{
  background-color: #121212;
  color: #FDFCF9;
}

/* Asger */

header {
    display: flex;
    height: 113px;
    flex-direction: column;
    margin: 0px;
}

.headerTop {
    display: flex;
    height: 67px;
    width: 100%;
    flex-direction: row;
    align-items: center;
    justify-content: right;
    gap: 10px;
    
}

.headerBund {
    display: flex;
    justify-content: space-around;
    height: 46px;
    width: 100%;
}

.headerBund > div {
display: flex;
width: 100%;
height: 100%;
border-width: 0.1px;
border-color: black;
border-style: solid;
justify-content: center;
align-items: center;
font-size: 13px;
}

nav {
  display: flex;
  gap: 20px;
  border-bottom: solid;
  border-width: 0.1px;
  align-items: center;
  height: 59px;
}

nav > div {
  margin-left: 20px;
}

.navTekst {
  font-size: 16px;
  font-weight: 500;
  margin-top: 16px;
  margin-bottom: 16px;
}

/*Signe */

h1 {
    font-family: Coolvetica, sans-serif;
    font-size: 48px;
    line-height: 0px;
    font-weight: 500;
    margin-top: 30px;
    line-height: 45px;
    margin-left: 20px;
}

#knapperbox {
    display: flex;
    justify-content: space-around;
}

.knapbb, .knapta, #sprogValg, .navKnap{
    display: flex;
    width: 43%;
    border-radius: 50px;
    align-items: center;
    justify-content: center;
    height: 48px;
    font-size: 12px;
    margin-top: 20px;
    font-weight: bold;
}

.navKnap {
  border: solid;
  border-width: thin;
  border-radius: 50px;
  width: 34px;
  height: 34px;
  margin: 0;
  margin-left: 20px;
}

.knapbb {
    color: #FAC6DB;
    background-color: #121212;
}

.knapta {
    border: solid;
    border-width: thin;
    border-radius: 50px;
    border-color: #121212;
}

#crustbillede {
    display: flex;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    max-width: 93%;
    height: 361px;
    border-radius: 15px;
}

.knapstor {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    width: 93%;
    height: 48px;
    border: solid;
    border-width: thin;
    border-radius: 50px;
    border-color: #121212;
    margin-top: 15px;
    font-size: 12px;
    font-weight: bold;
}

#knapmenu {
  margin-bottom: 70px;
  margin-top: 30px;
}







/*Daniel*/
.unleashtekst, .doughtekst{
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin: 0 10%;
}

.doughtekst{
  text-align: center;
}
.kursivtekst{
  font-style: italic;
}
.overskrift{
  text-align: center;
}
.overskrift h2{
  font-size: 60px;
  margin-bottom: 40px;
  margin-top: 40px;
}
.piz{
  margin: 20px 0px;
  font-size: 16px;
}
.unleashindertekst{
  font-size: 16px;
}

/*Section Signe*/

h3 {
  margin-top: 60px;
  font-size: 26px;
  margin-left: 20px;
}

#findos1 {
  margin-left: 20px;
  font-size: 16px;
  line-height: 25px;
}

.textdeco {
  text-decoration: underline;
}

.aabning, .telefon {
  margin-left: 20px;
  font-size: 16px;
  line-height: 25px;
  font-weight: 500;
}

.aabningstider, .telefontider {
  font-size: 16px;
  text-align: end;
  line-height: 25px;
  letter-spacing: 2px;
  font-weight: 500;
}

.aabning-flex, .telefon-flex {
  display: flex;
  justify-content: space-between;
  margin-right: 20px;
  margin-bottom: 40px;
}

#ur {
  width: 220px;
  height: 220px;
  position: relative;
  border: solid;
  border-color: #434343;
  border-radius: 50%;
  border-width: 5px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
}

#timeur, #minutterur, #sekunderur {
  position: absolute;
  transform-origin: bottom;
  border-radius: 7px;
  opacity: 1;
  background-color: #434343;
}

#timeur {
  width: 5px;
  height: 70px;
  top: 45px;
  left: 110px;
}
#minutterur {
  width: 3px;
  height: 85px;
  top: 30px;
  left: 110px;
}
#sekunderur {
  width: 2px;
  height: 95px;
  top: 20px;
  left: 110px;
}

#tekstur {
  color: #434343;
  font-size: 20px;
  margin-top: 30px;
  text-align: center;
}

/*Febbe*/
/* footer */
footer {
  background-color: #121212;
  color: #FDFCF9;
}
footer * p {
  font-size: 15px;
  line-height: 25px;
  letter-spacing: 1.5px;
}

/* generelle ændringer af footer baggrund*/
.sortbund {
  padding: 30px;
}
.graabund {
  background-color: #434343;
  padding: 30px;
  display: flex;
  justify-content: space-between;
}

/* social icons i footer*/
.fodlink {
  color: #FDFCF9;
  padding: 0px 3px;
}
.fodlink:visited {
  color: #FDFCF9;
}
.fodlink:hover {
  opacity: 0.7;
}

/* Lidt anderledes tekst, tilhørende nyhedsbrevet*/
.spørgsmål-fod {
  font-size: 12px;
  opacity: 0.8;
}

/* horisontalt linje styles */
hr {
  margin-bottom: 0.5em;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  border-width: 0.1px;
  opacity: 0.5;
}

/* knap footer m pil */
.knapfoot {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 6%;
  height: 13px;
  border: solid;
  border-width: thin;
  border-radius: 50px;
  border-color: #FDFCF9;
}

/* overskrift nyhedsbrev */ 
.nyhedsbrev {
  font-size: 18px;
}

/* flex ændringer i footer */
.findos-flex, .flex-nyhed {
  display: flex;
  justify-content: space-between;
}
.højreallign * {
  text-align: end;
}
.flex-logo {
  display: flex;
  justify-content: space-between;
}
.logofod {
  font-size: 20px;
  font-weight: bold;
}

/* burger menu*/
.hbmenu {
  position: relative;
  display: block;
  width: 34px;
  height: 34px;
  cursor: pointer;
  z-index: 99;
  margin-right: 10px;
  appearance: none;
  background: none;
  outline: none;
  border: solid #434343 1.3px;
  border-radius: 50px;
}

.hbmenu .bar, .hbmenu:after, .hbmenu:before {
  content: "";
  display: block;
  width: 100%;
  height: 1px;
  background-color: #434343;
  margin: 4px 0px;
  transition: 0.4s;
}
/*aktivering af hb menu*/
.hbmenu.aktivnu:before {
  transform: rotate(-45deg) translate(-3px, 4px);
}

.hbmenu.aktivnu:after {
  transform: rotate(45deg) translate(-3px, -3px);
}

.hbmenu.aktivnu .bar{
  opacity: 0;
}

/* slide til side bar*/
.mobil-nav {
	position: fixed;
	top: 0;
	left: 100%;
	width: 100%;
	min-height: 100vh;
	display: block;
	z-index: 98;
	background-color: #FDFCF9;
	padding: 30px 10px 0px;
	transition: 0.4s;
}

.mobil-nav.aktivnu {
	left: 0;
}

.mobil-nav a {
	display: block;
	max-width: 600px;
	text-align: left;
	background-color: #FDFCF9;
	color: #121212;
	text-decoration: none;
}

.mobil-nav a:hover {
	color: #434343;
}

/*ændring af tekst i nav*/
.bm-top-text a {
  font-size: 55px;
  font-weight: 500;
  letter-spacing: 1.2px;
}

.bm-top-text {
  padding: 40px 0px 100px;
}

.bm-bund-text a {
  font-size: 35px;
  font-weight: 400;
  letter-spacing: 1.2px;
  color: #777777;
}

.bm-bund-text a:hover {
  color: #777777;
}

.bm-bund-text {
  padding: 80px 0px 70px;
}

.bm-social {
  display: flex;
}

.toplink {
  padding: 0px 9px;
}

/*knapper ind til videre + flex af bund i bm*/
.bm-knp-virk {
  border: solid #434343;
  border-radius: 50px;
  width: 90px;
  height: 15px;
  font-size: 13px;
  text-align: center;
}

.bm-knp-sprog {
  display: flex;
  border: solid #434343;
  border-radius: 50px;
  width: 70px;
  height: 30px;
  font-size: 10px;
  justify-content: center;
  align-items: center;
}

/* flex bund af bm*/
.flex-bm-bund{
  display: flex;
  justify-content: space-between;
  flex-direction: row-reverse;
  align-items: center;
  margin: 0px 30px 0px 20px;
}

/*text der slider op*/

/*Gavekorts del*/
.gavekort {
  position: relative;
}


.gk-child {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  padding: 0px 20px;
}

.gk-back {
  height: 821px;
  width: 100%;
  object-fit: cover;
  filter: blur(1px) brightness(50%);
}

.gk-titel {
  color: #FDFCF9;
  font-size: 50px;
  margin: 10px 0px;
}

.gk-p {
  color: #FDFCF9;
  margin: 10px 0px;
}


.gk-knap {
  background: none;
  height: 50px;
  width: 50px;
  border: solid #FDFCF9;
  border-radius: 50px;
  cursor: pointer;
}

.gk-bestil {
  background: none;
  border: solid #FDFCF9;
  border-radius: 50px;
  height: 50px;
  min-width: 250px;
  font-size: 11px;
  cursor: pointer;
}

/*Signe media*/

@media only screen and (min-width: 1080px) {
  h1 {
    font-size: 70px;
    line-height: 60px;
    margin-left: 200px;
  }

  #crustbillede {
    margin-top: 20px;
    max-width: 100%;
    height: 525px;
}

.knapbb, .knapta {
  width: 20%;
}

.knapbb {
  margin-left: 350px;
}
.knapta {
  margin-left: -350px;
}

.knapstor {
  width: 20%;
  margin-top: 70px;
}

.toknapper {
  display: flex;
  justify-content: space-around;
  margin-top: -100px;
}

#knapvisit {
  width: 250px;
  margin-left: 10px;
}

#knapbook {
  width: 110px;
  margin-left: 370px;
}

#knapgk {
  width: 110px;
  margin-right: 370px;
}

.overskrift h2{
  font-size: 80px;
}

.unleashindertekst {
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0px;
}

h3 {
  font-size: 35px;
}

.flexboxbund {
  display: flex;
  flex-wrap: wrap;
}

#helefindos {
  order: 1;
  margin-left: 350px;
}

#heleur {
  order: 3;
  margin-left: 370px;
  margin-bottom: 70px;
}

#heleaabning {
  order: 2;
  margin-left: 200px;
  word-spacing: 4px;
}

#heletelefon {
  order: 4;
  margin-left: 122px;
  word-spacing: 4px;
}

.aabningstider {
  margin-left: 10px;
}

.telefontider {
  margin-left: 10px;
}




}
